In [10]:
import lonboard
from lonboard import viz
import pyrosm
from pyrosm import get_data, OSM
from pyrosm.data import sources
import pandas as pd
import geopandas as gpd
import ast
import json
import re

In [11]:
# Help for the engine: https://github.com/geopandas/geopandas/discussions/3015

water = gpd.read_file("../data/drinking_water.osm.pbf", engine="pyogrio", layer="points")
toilets = gpd.read_file("../data/toilets.osm.pbf", engine="pyogrio", layer="points")

In [12]:
print(len(water), "drinking water POIs and", len(toilets), "toilet POIs")

13610 drinking water POIs and 5243 toilet POIs

In [15]:
water

,osm_id,name,geometry,other_tags
0,60030906,Notwasserbrunnen,POINT (8.54128 47.41353),"""amenity""=>""drinking_water"",""bottle""=>""yes"",""d..."
1,60733338,Tränkbrunnen Höngg,POINT (8.49994 47.40283),"""amenity""=>""drinking_water"",""artist_name""=>""Ha..."
2,60733384,None,POINT (8.49944 47.40216),"""amenity""=>""drinking_water"",""bottle""=>""yes"",""d..."
3,60734353,None,POINT (8.55048 47.40729),"""amenity""=>""drinking_water"",""drinking_water:de..."
4,61263856,None,POINT (8.50377 47.40530),"""amenity""=>""drinking_water"",""check_date""=>""202..."
...,...,...,...,...
13605,12278345294,None,POINT (7.94386 47.53881),"""access""=>""yes"",""amenity""=>""drinking_water"",""f..."
13606,12288234979,None,POINT (7.06235 46.11572),"""amenity""=>""drinking_water"""
13607,12289915188,None,POINT (6.14958 46.21975),"""amenity""=>""drinking_water"",""fountain""=>""drink..."
13608,12289923973,None,POINT (6.15037 46.21943),"""amenity""=>""drinking_water"",""fountain""=>""drink..."
13609,12292446103,None,POINT (9.54938 46.86917),"""access""=>""yes"",""amenity""=>""drinking_water"",""f..."

In [13]:
water = water[["osm_id", "name", "geometry", "other_tags"]]
toilets = toilets[["osm_id", "name", "geometry", "other_tags"]]

In [14]:
viz([toilets, water])

Map(basemap_style=<CartoBasemap.DarkMatter: 'https://basemaps.cartocdn.com/gl/dark-matter-gl-style/style.json'…

In [19]:
water_min = water[["osm_id", "geometry"]]
water_min.to_file("../data/water2.geojson", driver="GeoJSON")